.shell {
    width: 100vw;
    height: 100vh;
    background-color: #0c0c0c;
    color: #c2c2c2;
    font-family: monospace;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}
.shell .ascii-header {
    color: #c2c2c2; /* Verde terminale */
    font-family: monospace; /* Stile ASCII */
    margin: 20px 0; /* Spaziatura sopra e sotto */
    white-space: pre; /* Mantenere la spaziatura originale */
    font-size: 14px; /* Dimensione testo regolabile */
}
.shell .line {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.shell p.current {
    float: left;
    margin: 0;
}
.shell .line p span.username {
    color: #14a800;
}
.shell input {
    background-color: #0c0c0c;
    border: none;
    color: #c2c2c2;
    float: left;
    margin-left: 10px;
    width: 80%;
    flex-grow: 1;
}
.shell input:focus {
    border: none;
    outline: none;
}
